[ req ]
default_bits        = 2048
distinguished_name  = req_distinguished_name
x509_extensions     = v3_intermediate_ca
prompt              = no

[ req_distinguished_name ]
countryName             = IT
stateOrProvinceName     = Lombardy
localityName            = Milan
0.organizationName      = QA Cert-Gen Project
commonName              = QA Testing Default Intermediate CA

[ v3_intermediate_ca ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer:always
basicConstraints       = critical,CA:true,pathlen:0
