[ req ]
default_bits        = 8192
distinguished_name  = req_distinguished_name
x509_extensions     = v3_ca
prompt              = no

[ req_distinguished_name ]
countryName             = IT
stateOrProvinceName     = Lombardy
localityName            = Milan
0.organizationName      = QA Cert-Gen Project
commonName              = QA Testing Default Root CA

[ v3_ca ]
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid,issuer:always
basicConstraints        = critical,CA:true
keyUsage                = critical,keyCertSign,cRLSign
subjectAltName          = DNS:example.com
issuerAltName           = email:info@example.com
extendedKeyUsage        = codeSigning,emailProtection
crlDistributionPoints   = URI:http://example.com/crl.pem
authorityInfoAccess     = caIssuers;URI:http://example.com/cacert.pem
certificatePolicies     = @policies

[ policies ]
policyIdentifier        = 1.2.3.4.5
CPS                     = http://example.com/cps
userNotice              = @notice

[ notice ]
explicitText            = "this is a test"