[ req ]
prompt             = no
distinguished_name = req_distinguished_name
x509_extensions    = v3_req
req_extensions     = v3_req

[ req_distinguished_name ]
countryName             = IT
stateOrProvinceName     = Lombardy
localityName            = Milan
0.organizationName      = QA Cert-Gen Project
commonName              = QA Testing Leaf cert
organizationalUnitName  = QA Department
emailAddress = qa@qa-tests.com

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = example.com
DNS.2 = www.example.com