[ req ]
prompt = no
distinguished_name      = req_distinguished_name
x509_extensions         = v3_req
default_md              = md5

[ req_distinguished_name ]
countryName             = IT
stateOrProvinceName     = Lombardy
localityName            = Milan
0.organizationName      = QA Cert-Gen Project
commonName              = QA md5 LEAF cert
organizationalUnitName  = QA Department
emailAddress = qa@qa-tests.com

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
